body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3, h4 {
  text-align: center;
}

#tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
}

.tab-button:hover {
  background-color: #333;
}

.tab {
  display: none;
}

input, button {
  display: block;
  margin: 10px auto;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #999;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #555;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #999;
}

th, td {
  padding: 8px;
  text-align: left;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-group label {
  width: 120px;
  text-align: right;
  font-weight: bold;
  margin-left: 150px;
}

.role-radio label{
  margin-left: 0px;
}

.form-group input {
  flex: 1;
  max-width: 300px;
  margin-left: 50px;
}

.role-radio{
  margin-left: 150px;
  display:flex;
  align-items: center;
}

#pagination {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

#pagination button {
  width: 28px;
  height: 28px;
  padding: 0;
  font-size: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pagination button:disabled {
  background-color: #ddd;
  color: #666;
  cursor: default;
}

.user-toolbar {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

.user-toolbar input {
  height: 30px;
  width: 240px;
  padding: 4px 6px;
  font-size: 13px;
  width: 180px;
  flex: 1;
  margin: 0;
}

.user-toolbar button {
  font-size: 14px;
  padding: 3px 8px;
  height: 24px;
  width: 90px;
  line-height: 1;
  border-radius: 4px;
  margin: 0;
  flex: 0 0 auto;
}

.total-count {
  margin-left: auto;
  margin-right: 15px;
  font-size: 18px;
  color: #555;
}
